/.vscode
/Clasobj.java
/Conditional.java
/Conditional1.java
/Constructor.java
/Continue.java
/Enumerate.java
/Ex.java
/Ex1.java
/Ex10.java
/Ex11.java
/Ex12.java
/Ex13.java
/Ex14.java
/Ex16.java
/Ex17.java
/Ex18.java
/Ex19.java
/Ex2.java
/Ex20.java
/Ex21.java
/Ex22.java
/Ex23.java
/Ex24.java
/Ex25.java
/Ex26.java
/Ex27.java
/Ex28.java
/Ex29.java
/Ex3.java
/Ex30.java
/Ex31.java
/Ex32.java
/Ex33.java
/Ex34.java
/Ex35.java
/Ex36.java
/Ex37.java
/Ex38.java
/Ex4.java
/Ex40.java
/Ex41.java
/Ex42.java
/Ex43.java
/Ex44.java
/Ex45.java
/Ex46.java
/Ex47.java
/Ex48.java
/Ex49.java
/Ex5.java
/Ex50.java
/Ex51.java
/Ex52.java
/Ex53.java
/Ex54.java
/Ex55.java
/Ex56.java
/Ex6.java
/Ex7.java
/Ex8.java
/Ex9.java
/FirstProgram.java
/Firstprogram1.java
/FirstProgram2.java
/getinput.java
/Inter1.java
/Loop.java
/Mainclass.java
/Meth
/Methpass.java
/Methpass1.java
/Operators.java
/Operators1.java
/Operators2.java
/Operators3.java
/Overloading.java
/Package.java
/Statement.java